<div class="signin-wrap">
  <form class="signin-form" [formGroup]="signUpForm" (submit)="onSignIn()">

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter your email" formControlName="email">
      <mat-error *ngIf="email?.invalid">{{getErrorMessage(email)}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Enter your password" formControlName="password" type="password">
      <mat-error *ngIf="password?.invalid">{{getErrorMessage(password)}}</mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter your password" formControlName="name">
    </mat-form-field>

    <button class="signin-form__btn" type="submit" mat-raised-button color="primary">
      <ng-container *ngIf="!(getState$ | async)?.isFetching">
        SignUn
      </ng-container>
      <ng-container *ngIf="(getState$ | async)?.isFetching">
        <mat-spinner diameter="25" color="#ffffff"></mat-spinner>
      </ng-container>
    </button>

    <div class="error">
      {{(getState$ | async)?.errorMessage}}
    </div>

  </form>
</div>
